/*---------- GLOBAL STYLES -----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}

/* NAVBAR */
.navbar {
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    display: inline-block;
    padding: 0px 50px;
}

.navbar li a{
    color: whitesmoke;
    font-family: Arial, Helvetica;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: black;
}

.acc-header {
    display: inline-flex;
    align-items: center;
}

.default-button {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    width: fit-content;
    padding: 8px 25px;
    margin: 10px 10px;
    background-color: rgb(2, 124, 67);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}

.default-button:hover {
    background-color: rgb(15, 233, 186);
}

.logo {
    cursor: pointer;
}

#logout-img {
    margin: 0px 20px;
    width: 26px;
}

.container {
    display: flex;  
    align-items: baseline;
    justify-content: center;
    background-color: rgb(189, 247, 247);
    min-height: 100vh;
    font-family: sans-serif;
    padding: 150px 50px;
}

.container p, a{
    font-weight: 500;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

/* FOOTER */
footer {
    display: flex;
    font-family: sans-serif;
    color: white;
    background-color:teal;
    padding: 10px;
}

/*---------- DEFAULT PAGE -----------*/

.description {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 15px;
    width: 80%;
    height: fit-content;
    align-items: center;
}

.description p{
    justify-content: left;
}

/*---------- LOGIN PAGE -----------*/

.login-box {
    padding: 40px 40px;
    margin: 150px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.login-box h1 {
    font-size: 30px;
    text-align: center;
    color: black;
    padding-bottom: 10px;
}

.login-box p {
    font-size: 18px;
    text-align: center;
    color: black;
    padding-bottom: 30px;
}

.login-box input{
    font-size: 18px;
    margin: 3px;
    padding: 2px 2px;
    width: 300px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------- ACCOUNT PAGE -----------*/
.acc-options {
    margin: 0px 30px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    background-color: white;
}

.acc-options li {
    list-style: none;
    padding: 10px;
}

.acc-options li a{
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.acc-options li a:hover {
    color: gray;
}

.content-section {
    margin: 0px 30px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    align-items: center;
    background-color:white;
    border-radius: 15px;
}

.content-section h1 {
    font-size: 30px;
    text-align: center;
    color: black;
    padding-top: 15px;
    padding-bottom: 35px;
}

.content-section p {
    font-size: 18px;
    text-align: center;
    color: black;
    padding-bottom: 30px;
}

.content-section input{
    font-size: 18px;
    margin: 3px;
    padding: 2px 2px;
    width: 300px;
}

.content-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inline-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline-content a {
    font-size: 25px;
    margin: 10px 10px;
}

.select-style {
    margin: 10px;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    width: 300px;
}

.select-style p {
    font-size: 18px;
    text-align: left;
    color: black;
    padding-right: 30px;
}

.select-style select {
    font-size: 18px;
}

.check-selection {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.check-input {
    display: inline-block;
    margin: 2px;
}

.check-input input {
    width: 20px;
}

.type-selection {
    display: inline-block;
    margin: 3px;
}

.type-selection select{
    font-size: 14px;
}

.checkbox-selection {
    display: inline-flex;
}

.input-label {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: baseline;
    padding: 5px 5px;
}

.input-label input, select{
    width: 300px;
    padding: 3px 3px;
    margin: 2px 2px;
}

.input-label p {
    padding: 3px 3px;
}

.text-area {
    padding: 10px 5px;
    font-family: Arial, Helvetica;
    font-size: 15px;
}

.hist-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: rgb(6, 192, 192);
    color: #fff;
    padding: 8px 30px 8px 8px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 5px 8px;
}

table tr:nth-child(odd) td{
    background-color: #e7edf0;
}

